<div class="d-flex justify-content-center">
  <div>
    <ng-wizard [config]="config" (stepChanged)="stepChanged($event)">
      <ng-wizard-step [title]="'Etudiant'" [description]="'choix etudiant'" [canEnter]="isValidTypeBoolean" [canExit]="displayRadioValue()">
        <div class="row mb-3">
          <div class="col-md-4">
            <div class="search-box">
              <form class="search-form">
                <div class="top">
                  <div class="search-box">
                    <i class="uil uil-search"></i>
                    <input type="text" placeholder="rechercher here..." [formControl]="filter" />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="col-11 table-responsive" id="entities" *ngIf="eleves && eleves.length > 0">
          <table class="table table-striped" aria-describedby="page-heading">
            <thead>
              <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
                <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                <th scope="col" jhiSortBy="nom">
                  <span jhiTranslate="uprouproSoutenanceEsiApp.eleve.nom">Nom</span> <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="prenoms">
                  <span jhiTranslate="uprouproSoutenanceEsiApp.eleve.prenoms">Prenoms</span> <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="matricule">
                  <span jhiTranslate="uprouproSoutenanceEsiApp.eleve.matricule">Matricule</span> <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="projet">
                  <span jhiTranslate="uprouproSoutenanceEsiApp.eleve.projet">Classe</span> <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let eleve of eleves$ | async; index as i">
                <td>
                  <a [routerLink]="['/eleve', eleve.id, 'view']">{{ eleve.id }}</a>
                </td>
                <td>
                  <ngb-highlight [result]="eleve.nom" [term]="filter.value"></ngb-highlight>
                </td>
                <td>
                  <ngb-highlight [result]="eleve.prenoms" [term]="filter.value"></ngb-highlight>
                </td>
                <td>
                  <ngb-highlight [result]="eleve.matricule" [term]="filter.value"></ngb-highlight>
                </td>
                <td>
                  <ngb-highlight [result]="eleve.projet?.theme" [term]="filter.value"></ngb-highlight>
                </td>
                <td class="text-right">
                  <div class="btn-group">
                    <button
                      type="submit"
                      [routerLink]="['/eleve', eleve.id, 'view']"
                      class="btn btn-info btn-sm"
                      data-cy="entityDetailsButton"
                    >
                      <fa-icon icon="eye"></fa-icon>
                      <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                    </button>

                    <div class="choix-eleve-soutient">
                      <input class="eleveQuiSoutient" [value]="eleve.id" type="radio" name="eleveQuiSoutient" (change)="onChange($event)" />
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-wizard-step>

      <ng-wizard-step [title]="'Note'" [description]="'soutenance'">
        <div class="" class="col-8">
          <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2
              id="jhi-soutenance-heading"
              data-cy="SoutenanceCreateUpdateHeading"
              jhiTranslate="uproSoutenanceEsiApp.soutenance.home.createOrEditLabel"
            >
              Create or edit a Soutenance
            </h2>

            <div>
              <jhi-alert-error></jhi-alert-error>

              <div class="form-group" [hidden]="editForm.get('id')!.value == null">
                <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
                <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label
                      class="form-control-label"
                      jhiTranslate="uproSoutenanceEsiApp.soutenance.anneeAcademique"
                      for="field_anneeAcademique"
                      >Annee Academique</label
                    >
                    <ng-select
                      [items]="anneeAcademiquesSharedCollection"
                      [clearable]="false"
                      [multiple]="false"
                      bindLabel="anneeScolaire"
                      placeholder="année Academique"
                      data-cy="anneeAcademique"
                      id="field_anneeAcademique"
                      name="anneeAcademique"
                      formControlName="anneeAcademique"
                    >
                      <ng-option
                        [value]="
                          anneeAcademiqueOption.id === editForm.get('anneeAcademique')!.value?.id
                            ? editForm.get('anneeAcademique')!.value
                            : anneeAcademiqueOption
                        "
                        *ngFor="let anneeAcademiqueOption of anneeAcademiquesSharedCollection; trackBy: trackAnneeAcademiqueById"
                      >
                        {{ anneeAcademiqueOption.anneeScolaire }}
                      </ng-option>
                    </ng-select>
                  </div>
                </div>
              </div>
              <!--        Date du jour-->
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-control-label" jhiTranslate="uproSoutenanceEsiApp.soutenance.dateDuJour" for="field_dateDuJour"
                      >Date Du Jour</label
                    >
                    <div class="input-group">
                      <input
                        id="field_dateDuJour"
                        data-cy="dateDuJour"
                        type="text"
                        class="form-control"
                        name="dateDuJour"
                        ngbDatepicker
                        #dateDuJourDp="ngbDatepicker"
                        formControlName="dateDuJour"
                      />
                      <span class="input-group-append">
                        <button type="button" class="btn btn-secondary" (click)="dateDuJourDp.toggle()">
                          <fa-icon icon="calendar-alt"></fa-icon>
                        </button>
                      </span>
                    </div>
                    <div
                      *ngIf="
                        editForm.get('dateDuJour')!.invalid && (editForm.get('dateDuJour')!.dirty || editForm.get('dateDuJour')!.touched)
                      "
                    >
                      <small
                        class="form-text text-danger"
                        *ngIf="editForm.get('dateDuJour')?.errors?.required"
                        jhiTranslate="entity.validation.required"
                      >
                        This field is required.
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-control-label" jhiTranslate="uproSoutenanceEsiApp.soutenance.jury" for="field_jury">Jury</label>
                  <ng-select
                    [items]="juriesSharedCollection"
                    [clearable]="false"
                    [multiple]="false"
                    bindLabel="nomPresident"
                    placeholder="votre jury"
                    data-cy="jury"
                    id="field_jury"
                    name="jury"
                    formControlName="jury"
                  >
                    <ng-option
                      [value]="juryOption.id === editForm.get('jury')!.value?.id ? editForm.get('jury')!.value : juryOption"
                      *ngFor="let juryOption of juriesSharedCollection; trackBy: trackJuryById"
                    >
                      {{ juryOption.nomPresident }}
                    </ng-option>
                  </ng-select>
                </div>
              </div>
              <!--        Projet-->
              <div class="col-md-8">
                <div class="form-group">
                  <label class="form-control-label" jhiTranslate="uproSoutenanceEsiApp.soutenance.projet" for="field_projet">Projet</label>
                  <ng-select
                    [items]="projetsCollection"
                    [clearable]="false"
                    [multiple]="false"
                    bindLabel="theme"
                    placeholder="choisir le projet"
                    data-cy="projet"
                    id="field_projet"
                    name="projet"
                    formControlName="projet"
                  >
                    <ng-option
                      [value]="projetOption.id === editForm.get('projet')!.value?.id ? editForm.get('projet')!.value : projetOption"
                      *ngFor="let projetOption of projetsCollection; trackBy: trackProjetById"
                    >
                      {{ projetOption.theme }}
                    </ng-option>
                  </ng-select>
                </div>
              </div>
            </div>

            <div class="row">
              <!--          Note de Soutenance-->
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-control-label" jhiTranslate="uproSoutenanceEsiApp.soutenance.note" for="field_note">Note</label>
                  <input type="number" class="form-control" name="note" id="field_note" data-cy="note" formControlName="note" />
                  <div *ngIf="editForm.get('note')!.invalid && (editForm.get('note')!.dirty || editForm.get('note')!.touched)">
                    <small
                      class="form-text text-danger"
                      *ngIf="editForm.get('note')?.errors?.required"
                      jhiTranslate="entity.validation.required"
                    >
                      This field is required.
                    </small>
                    <small
                      class="form-text text-danger"
                      [hidden]="!editForm.get('note')?.errors?.number"
                      jhiTranslate="entity.validation.number"
                    >
                      This field should be a number.
                    </small>
                  </div>
                </div>
              </div>

              <!--          Mention de Soutenance-->
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-control-label" jhiTranslate="uproSoutenanceEsiApp.soutenance.mention" for="field_mention"
                    >Mention</label
                  >

                  <ng-select
                    [clearable]="true"
                    placeholder="choisir la mention"
                    data-cy="mention"
                    id="field_mention"
                    name="mention"
                    formControlName="mention"
                  >
                    <ng-option value="PASSABLE">{{ 'uproSoutenanceEsiApp.Mention.PASSABLE' | translate }}</ng-option>
                    <ng-option value="ASSEZ_BIEN">{{ 'uproSoutenanceEsiApp.Mention.ASSEZ_BIEN' | translate }}</ng-option>
                    <ng-option value="BIEN">{{ 'uproSoutenanceEsiApp.Mention.BIEN' | translate }}</ng-option>
                    <ng-option value="TRES_BIEN">{{ 'uproSoutenanceEsiApp.Mention.TRES_BIEN' | translate }}</ng-option>
                    <ng-option value="HONORABLE">{{ 'uproSoutenanceEsiApp.Mention.HONORABLE' | translate }}</ng-option>
                    <ng-option value="EXCELENTE">{{ 'uproSoutenanceEsiApp.Mention.EXCELENTE' | translate }}</ng-option>
                  </ng-select>
                  <div *ngIf="editForm.get('mention')!.invalid && (editForm.get('mention')!.dirty || editForm.get('mention')!.touched)">
                    <small
                      class="form-text text-danger"
                      *ngIf="editForm.get('mention')?.errors?.required"
                      jhiTranslate="entity.validation.required"
                    >
                      This field is required.
                    </small>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label class="form-control-label" jhiTranslate="uproSoutenanceEsiApp.soutenance.remarque" for="field_remarque"
                    >Remarque</label
                  >

                  <textarea
                    type="text"
                    class="form-control"
                    name="remarque"
                    id="field_remarque"
                    data-cy="remarque"
                    formControlName="remarque"
                  >
                  </textarea>
                </div>
              </div>
            </div>

            <div class="form-group visually-hidden">
              <label class="form-control-label" jhiTranslate="uproSoutenanceEsiApp.soutenance.dateAjout" for="field_dateAjout"
                >Date Ajout</label
              >
              <div class="input-group">
                <input
                  id="field_dateAjout"
                  data-cy="dateAjout"
                  type="text"
                  class="form-control"
                  name="dateAjout"
                  ngbDatepicker
                  #dateAjoutDp="ngbDatepicker"
                  formControlName="dateAjout"
                />
                <span class="input-group-append">
                  <button type="button" class="btn btn-secondary" (click)="dateAjoutDp.toggle()">
                    <fa-icon icon="calendar-alt"></fa-icon>
                  </button>
                </span>
              </div>
            </div>

            <div class="form-group visually-hidden">
              <label class="form-control-label" jhiTranslate="uproSoutenanceEsiApp.soutenance.dateModification" for="field_dateModification"
                >Date Modification</label
              >
              <div class="input-group">
                <input
                  id="field_dateModification"
                  data-cy="dateModification"
                  type="text"
                  class="form-control"
                  name="dateModification"
                  ngbDatepicker
                  #dateModificationDp="ngbDatepicker"
                  formControlName="dateModification"
                />
                <span class="input-group-append">
                  <button type="button" class="btn btn-secondary" (click)="dateModificationDp.toggle()">
                    <fa-icon icon="calendar-alt"></fa-icon>
                  </button>
                </span>
              </div>
            </div>

            <br />
            <div class="onoffswitch">
              <input
                type="checkbox"
                [checked]="false"
                name="onoffswitch"
                class="onoffswitch-checkbox"
                id="statutBeneficiaire"
                name="statutBeneficiaire"
                formControlName="statutBeneficiaire"
              />
              <label class="onoffswitch-label" for="statutBeneficiaire">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
              </label>
            </div>
            <br />

            <div>
              <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
                <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
              </button>

              <button
                type="submit"
                id="save-entity"
                data-cy="entityCreateSaveButton"
                [disabled]="editForm.invalid || isSaving"
                class="btn btn-primary"
              >
                <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
              </button>
            </div>
          </form>
        </div>
      </ng-wizard-step>
    </ng-wizard>
  </div>
</div>
