<div class="d-flex justify-content-center">
  <div class="col-11">
    <ng-wizard [config]="config" (stepChanged)="stepChanged($event)">
      <ng-wizard-step
        *ngIf="!isFormUpdate"
        [title]="'Etape 1'"
        [description]="'choix etudiant'"
        [canEnter]="isValidTypeBoolean"
        [canExit]="displayRadioValue()"
      >
        <form>
          <div class="mb-3 row">
            <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Rechercher l'etudiant:</label>
            <div class="col-xs-4 col-sm-auto">
              <input id="table-complete-search" type="text" class="form-control search-input" name="searchTerm" [formControl]="filter" />
            </div>
          </div>
        </form>

        <ng-container *jhiHasAnyAuthority="['ROLE_JURY', 'ROLE_DIRECTEUR_ETUDE', 'ROLE_ADMIN']">
          <div class="table-responsive" id="entities" *ngIf="eleves && eleves.length > 0">
            <table class="table table-striped" aria-describedby="page-heading">
              <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
                  <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                  <th scope="col" jhiSortBy="nom">
                    <span jhiTranslate="uproSoutenanceEsiApp.eleve.nom">Nom</span> <fa-icon icon="sort"></fa-icon>
                  </th>
                  <th scope="col" jhiSortBy="prenoms">
                    <span jhiTranslate="uproSoutenanceEsiApp.eleve.prenoms">Prenoms</span> <fa-icon icon="sort"></fa-icon>
                  </th>
                  <th scope="col" jhiSortBy="matricule">
                    <span jhiTranslate="uproSoutenanceEsiApp.eleve.matricule">Matricule</span> <fa-icon icon="sort"></fa-icon>
                  </th>
                  <th scope="col" jhiSortBy="projet">
                    <span jhiTranslate="uproSoutenanceEsiApp.eleve.projet">Classe</span> <fa-icon icon="sort"></fa-icon>
                  </th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let eleve of eleves$ | async; index as i">
                  <td>
                    <a [routerLink]="['/eleve', eleve.id, 'view']">{{ eleve.id }}</a>
                  </td>
                  <td>
                    <ngb-highlight [result]="eleve.nom" [term]="filter.value"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="eleve.prenoms" [term]="filter.value"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="eleve.matricule" [term]="filter.value"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="eleve.projet?.theme" [term]="filter.value"></ngb-highlight>
                  </td>
                  <td class="text-right">
                    <div class="btn-group">
                      <button
                        type="submit"
                        [routerLink]="['/eleve', eleve.id, 'view']"
                        class="btn btn-info btn-sm"
                        data-cy="entityDetailsButton"
                      >
                        <fa-icon icon="eye"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                      </button>

                      <div class="choix-eleve-soutient">
                        <input
                          class="eleveQuiSoutient"
                          [value]="eleve.id"
                          type="radio"
                          name="eleveQuiSoutient"
                          (change)="onChange($event)"
                        />
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-container>
      </ng-wizard-step>

      <ng-wizard-step
        [title]="'Etape 2'"
        [description]="'soutenance'"
        *jhiHasAnyAuthority="['ROLE_JURY', 'ROLE_DIRECTEUR_ETUDE', 'ROLE_ADMIN']"
      >
        <div class="col-12 d-flex justify-content-center">
          <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <div>
              <jhi-alert-error></jhi-alert-error>

              <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
                <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
                <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
              </div>

              <div class="row mb-3" [hidden]="true">
                <label class="form-label" jhiTranslate="uproSoutenanceEsiApp.soutenance.mention" for="field_mention">Mention</label>
                <select class="form-control" name="mention" formControlName="mention" id="field_mention" data-cy="mention">
                  <option [ngValue]="null">{{ 'uproSoutenanceEsiApp.Mention.null' | translate }}</option>
                  <option *ngFor="let mention of mentionValues" [value]="mention">
                    {{ 'uproSoutenanceEsiApp.Mention.' + mention | translate }}
                  </option>
                </select>
                <div *ngIf="editForm.get('mention')!.invalid && (editForm.get('mention')!.dirty || editForm.get('mention')!.touched)">
                  <small
                    class="form-text text-danger"
                    *ngIf="editForm.get('mention')?.errors?.required"
                    jhiTranslate="entity.validation.required"
                  >
                    This field is required.
                  </small>
                </div>
              </div>

              <div class="row mb-3">
                <label class="form-label" jhiTranslate="uproSoutenanceEsiApp.soutenance.note" for="field_note">Note</label>
                <input type="number" class="form-control" name="note" id="field_note" data-cy="note" formControlName="note" />
                <div *ngIf="editForm.get('note')!.invalid && (editForm.get('note')!.dirty || editForm.get('note')!.touched)">
                  <small
                    class="form-text text-danger"
                    *ngIf="editForm.get('note')?.errors?.required"
                    jhiTranslate="entity.validation.required"
                  >
                    This field is required.
                  </small>
                  <small
                    class="form-text text-danger"
                    [hidden]="!editForm.get('note')?.errors?.number"
                    jhiTranslate="entity.validation.number"
                  >
                    This field should be a number.
                  </small>
                </div>
              </div>

              <div class="row mb-3">
                <label class="form-label" jhiTranslate="uproSoutenanceEsiApp.soutenance.dateDuJour" for="field_dateDuJour"
                  >Date Du Jour</label
                >
                <div class="input-group">
                  <input
                    id="field_dateDuJour"
                    data-cy="dateDuJour"
                    type="text"
                    class="form-control"
                    name="dateDuJour"
                    ngbDatepicker
                    #dateDuJourDp="ngbDatepicker"
                    formControlName="dateDuJour"
                  />
                  <button type="button" class="btn btn-secondary" (click)="dateDuJourDp.toggle()">
                    <fa-icon icon="calendar-alt"></fa-icon>
                  </button>
                </div>
                <div
                  *ngIf="editForm.get('dateDuJour')!.invalid && (editForm.get('dateDuJour')!.dirty || editForm.get('dateDuJour')!.touched)"
                >
                  <small
                    class="form-text text-danger"
                    *ngIf="editForm.get('dateDuJour')?.errors?.required"
                    jhiTranslate="entity.validation.required"
                  >
                    This field is required.
                  </small>
                </div>
              </div>

              <div class="row mb-3">
                <label class="form-label" jhiTranslate="uproSoutenanceEsiApp.soutenance.remarque" for="field_remarque">Remarque</label>
                <input type="text" class="form-control" name="remarque" id="field_remarque" data-cy="remarque" formControlName="remarque" />
              </div>

              <div class="row mb-3" [hidden]="true">
                <label class="form-label" jhiTranslate="uproSoutenanceEsiApp.soutenance.dateAjout" for="field_dateAjout">Date Ajout</label>
                <div class="input-group">
                  <input
                    id="field_dateAjout"
                    data-cy="dateAjout"
                    type="text"
                    class="form-control"
                    name="dateAjout"
                    ngbDatepicker
                    #dateAjoutDp="ngbDatepicker"
                    formControlName="dateAjout"
                  />
                  <button type="button" class="btn btn-secondary" (click)="dateAjoutDp.toggle()">
                    <fa-icon icon="calendar-alt"></fa-icon>
                  </button>
                </div>
              </div>

              <div class="row mb-3" [hidden]="true">
                <label class="form-label" jhiTranslate="uproSoutenanceEsiApp.soutenance.dateModification" for="field_dateModification"
                  >Date Modification</label
                >
                <div class="input-group">
                  <input
                    id="field_dateModification"
                    data-cy="dateModification"
                    type="text"
                    class="form-control"
                    name="dateModification"
                    ngbDatepicker
                    #dateModificationDp="ngbDatepicker"
                    formControlName="dateModification"
                  />
                  <button type="button" class="btn btn-secondary" (click)="dateModificationDp.toggle()">
                    <fa-icon icon="calendar-alt"></fa-icon>
                  </button>
                </div>
              </div>

              <div class="row mb-3">
                <label class="form-label" jhiTranslate="uproSoutenanceEsiApp.soutenance.projet" for="field_projet">Projet</label>
                <select class="form-control" id="field_projet" data-cy="projet" name="projet" formControlName="projet">
                  <option [ngValue]="null"></option>
                  <option
                    [ngValue]="projetOption.id === editForm.get('projet')!.value?.id ? editForm.get('projet')!.value : projetOption"
                    *ngFor="let projetOption of projetsCollection; trackBy: trackProjetById"
                  >
                    {{ projetOption.theme }}
                  </option>
                </select>
              </div>

              <div class="row mb-3">
                <label class="form-label" jhiTranslate="uproSoutenanceEsiApp.soutenance.jury" for="field_jury">Jury</label>
                <select class="form-control" id="field_jury" data-cy="jury" name="jury" formControlName="jury">
                  <option [ngValue]="null"></option>
                  <option
                    [ngValue]="juryOption.id === editForm.get('jury')!.value?.id ? editForm.get('jury')!.value : juryOption"
                    *ngFor="let juryOption of juriesSharedCollection; trackBy: trackJuryById"
                  >
                    {{ juryOption.nomPresident }}
                  </option>
                </select>
              </div>

              <div class="row mb-3">
                <label class="form-label" jhiTranslate="uproSoutenanceEsiApp.soutenance.anneeAcademique" for="field_anneeAcademique"
                  >Annee Academique</label
                >
                <select
                  class="form-control"
                  id="field_anneeAcademique"
                  data-cy="anneeAcademique"
                  name="anneeAcademique"
                  formControlName="anneeAcademique"
                >
                  <option [ngValue]="null"></option>
                  <option
                    [ngValue]="
                      anneeAcademiqueOption.id === editForm.get('anneeAcademique')!.value?.id
                        ? editForm.get('anneeAcademique')!.value
                        : anneeAcademiqueOption
                    "
                    *ngFor="let anneeAcademiqueOption of anneeAcademiquesSharedCollection; trackBy: trackAnneeAcademiqueById"
                  >
                    {{ anneeAcademiqueOption.anneeScolaire }}
                  </option>
                </select>
              </div>
            </div>

            veuillez confirmez que l'etudiant valide sa soutenance ou NON
            <br />
            <div class="onoffswitch">
              <input
                type="checkbox"
                [checked]="editForm.get(['note'])!.value >= 12"
                name="onoffswitch"
                class="onoffswitch-checkbox"
                id="statutBeneficiaire"
              />
              <label class="onoffswitch-label" for="statutBeneficiaire">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
              </label>
            </div>
            <br />

            <div>
              <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
                <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
              </button>

              <button
                type="submit"
                id="save-entity"
                data-cy="entityCreateSaveButton"
                [disabled]="editForm.invalid || isSaving"
                class="btn btn-primary"
              >
                <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
              </button>
            </div>
          </form>
        </div>
      </ng-wizard-step>

      <ng-wizard-step *jhiHasAnyAuthority="['ROLE_AGENT_SCOLARITE', 'ROLE_ADMIN']" [title]="'Etape 3'" [description]="'Depot de rapport'">
        <span>Depot de rapport</span>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="uproSoutenanceEsiApp.projet.rapport" for="field_rapport">Rapport</label>
          <div>
            <div *ngIf="editForm.get('rapport')!.value" class="form-text text-danger clearfix">
              <a
                class="pull-start"
                (click)="openFile(editForm.get('rapport')!.value, editForm.get('rapportContentType')!.value)"
                jhiTranslate="entity.action.open"
                >open</a
              ><br />
              <span class="pull-start"
                >{{ editForm.get('rapportContentType')!.value }}, {{ byteSize(editForm.get('rapport')!.value) }}</span
              >
              <button
                type="button"
                (click)="editForm.patchValue({ rapport: null }); editForm.patchValue({ rapportContentType: null })"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_rapport"
              data-cy="rapport"
              (change)="setFileData($event, 'rapport', false)"
              jhiTranslate="entity.action.addblob"
            />
          </div>
          <input type="hidden" class="form-control" name="rapport" id="field_rapport" data-cy="rapport" formControlName="rapport" />
          <input
            type="hidden"
            class="form-control"
            name="rapportContentType"
            id="field_rapportContentType"
            formControlName="rapportContentType"
          />
        </div>
      </ng-wizard-step>

      <ng-wizard-step
        *jhiHasAnyAuthority="['ROLE_AGENT_SCOLARITE', 'ROLE_ADMIN']"
        [title]="'Etape 4'"
        [description]="'Cloture du dossier'"
        [canExit]="true"
      >
        <span>Cloture du dossier</span>

        <div class="choix-eleve-soutient cloturerSoutenance d-flex justify-content-center align-items-center">
          <input
            class="eleveQuiSoutient"
            [ngModel]="cloturerSoutenance"
            type="checkbox"
            name="cloturerSoutenance"
            (change)="onChangeCloturerSoutenance($event)"
          />
        </div>

        <button type="button" class="btn btn-primary" (click)="save()">
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </ng-wizard-step>
    </ng-wizard>
  </div>
</div>
