@import '/src/main/webapp/content/scss/bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.projet_main {
  display: flex;
  justify-content: center;
}

.page_container {
  width: 100%;
  max-width: 997px;
  margin-top: 60px;
}

// La bar de menu
.dashboard {
  position: relative;
  left: 250px;
  background-color: transparent;
  min-height: 100vh;
  width: calc(100% - 250px);
  padding: 10px 14px;
  transition: $tran-05;
}
nav.close ~ .dashboard {
  left: 73px;
  width: calc(100% - 73px);
}
.dashboard .top {
  position: fixed;
  top: 0;
  left: 250px;
  display: flex;
  width: calc(100% - 250px);
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px;
  background-color: $panel-color;
  transition: $tran-05;
  z-index: 10;
}
nav.close ~ .dashboard .top {
  left: 73px;
  width: calc(100% - 73px);
}
.dashboard .top .sidebar-toggle {
  font-size: 26px;
  color: $text-color;
  cursor: pointer;
}
.dashboard .top .search-box {
  position: relative;
  height: 45px;
  max-width: 600px;
  width: 100%;
  margin: 0 30px;
}
.top .search-box input {
  position: absolute;
  border: 1px solid $border-color;
  background-color: $panel-color;
  padding: 0 25px 0 50px;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  color: $text-color;
  font-size: 15px;
  font-weight: 400;
  outline: none;
}
.top .search-box i {
  position: absolute;
  left: 15px;
  font-size: 22px;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  color: $black-light-color;
}
.top img {
  width: 40px;
  border-radius: 50%;
}
