<div>
  <h2 id="page-heading" data-cy="JuryHeading">
    <span jhiTranslate="uproSoutenanceEsiApp.jury.home.title">Juries</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="uproSoutenanceEsiApp.jury.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-jury"
        [routerLink]="['/jury/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="uproSoutenanceEsiApp.jury.home.createLabel"> Create a new Jury </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="juries?.length === 0">
    <span jhiTranslate="uproSoutenanceEsiApp.jury.home.notFound">No juries found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="juries && juries.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomPresident">
            <span jhiTranslate="uproSoutenanceEsiApp.jury.nomPresident">Nom President</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nomRapporteur">
            <span jhiTranslate="uproSoutenanceEsiApp.jury.nomRapporteur">Nom Rapporteur</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nomProfAnglais">
            <span jhiTranslate="uproSoutenanceEsiApp.jury.nomProfAnglais">Nom Prof Anglais</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="numeroSalle">
            <span jhiTranslate="uproSoutenanceEsiApp.jury.numeroSalle">Numero Salle</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="anneeAcademique.anneeScolaire">
            <span jhiTranslate="uproSoutenanceEsiApp.jury.anneeAcademique">Annee Academique</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="genie.nom">
            <span jhiTranslate="uproSoutenanceEsiApp.jury.genie">Genie</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let jury of juries; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/jury', jury.id, 'view']">{{ jury.id }}</a>
          </td>
          <td>{{ jury.nomPresident }}</td>
          <td>{{ jury.nomRapporteur }}</td>
          <td>{{ jury.nomProfAnglais }}</td>
          <td>{{ jury.numeroSalle }}</td>
          <td>
            <div *ngIf="jury.anneeAcademique">
              <a [routerLink]="['/annee-academique', jury.anneeAcademique?.id, 'view']">{{ jury.anneeAcademique?.anneeScolaire }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="jury.genie">
              <a [routerLink]="['/genie', jury.genie?.id, 'view']">{{ jury.genie?.nom }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/jury', jury.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/jury', jury.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(jury)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="juries && juries.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
