<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="encadreur">
      <h2 data-cy="encadreurDetailsHeading"><span jhiTranslate="uproSoutenanceEsiApp.encadreur.detail.title">Encadreur</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ encadreur.id }}</span>
        </dd>
        <dt><span jhiTranslate="uproSoutenanceEsiApp.encadreur.nom">Nom</span></dt>
        <dd>
          <span>{{ encadreur.nom }}</span>
        </dd>
        <dt><span jhiTranslate="uproSoutenanceEsiApp.encadreur.prenoms">Prenoms</span></dt>
        <dd>
          <span>{{ encadreur.prenoms }}</span>
        </dd>
        <dt><span jhiTranslate="uproSoutenanceEsiApp.encadreur.contact">Contact</span></dt>
        <dd>
          <span>{{ encadreur.contact }}</span>
        </dd>
        <dt><span jhiTranslate="uproSoutenanceEsiApp.encadreur.email">Email</span></dt>
        <dd>
          <span>{{ encadreur.email }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/encadreur', encadreur.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
